/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.compare-permalinks-settings-page {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-dark-1: #afafaf;
  --color-dark-2: #cccccc;
}

.compare-permalinks-settings-page p {
  max-width: 80ch;
}

.compare-permalinks-settings-page p.submit {
  margin: 1rem 0;
  padding: 0;
}

.compare-permalinks-settings-page .compare-permalinks-action {
  margin-top: 60px;
}

.compare-permalinks-settings-page table .imported-link,
.compare-permalinks-settings-page table .matched-link {
  width: 40%;
}

.compare-permalinks-settings-page .compare-permalinks-table a {
  display: flex;
  align-items: center;
  gap: 4px;
}

.compare-permalinks-settings-page tbody {
  counter-reset: item-counter;
}

.compare-permalinks-settings-page tbody tr {
  counter-increment: item-counter;
  position: relative;
}

.compare-permalinks-settings-page tbody tr .number::after {
  content: counter(item-counter);
}
