/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.compare-permalinks-settings-page {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-dark-1: #afafaf;
  --color-dark-2: #cccccc;
}

.compare-permalinks-settings-page p {
  max-width: 80ch;
}

.compare-permalinks-settings-page p.submit {
  margin: 1rem 0;
  padding: 0;
}

.compare-permalinks-action {
  margin-top: 60px;
}

.compare-permalinks-table {
  margin-top: 40px;
  overflow: auto;
  width: 100%;
}

.compare-permalinks-table table {
  border: 1px solid var(--color-primary);
  height: 100%;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
}

.compare-permalinks-table caption {
  caption-side: top;
  text-align: left;
}

.compare-permalinks-table th {
  border: 1px solid var(--color-dark-1);
  background-color: var(--color-dark-2);
  color: #000000;
  padding: 8px;
}

.compare-permalinks-table td {
  border: 1px solid var(--color-dark-1);
  background-color: var(--color-white);
  color: var(--color-black);
  padding: 8px;
}

.compare-permalinks-table a {
  display: flex;
  align-items: center;
  gap: 4px;
}
